:root{
    --color-blue: #336699;
}

body{
    font-family: 'Poppins', sans-serif;
}

.text-blue{
    color: var(--color-blue);
}

.position-icon{
    position: relative;
    top: 1px;
}