:root{
    --color-blue: #339966;

}

body{
    font-family: 'Roboto Slab', serif;
}

.text-blue{
    color: var(--color-blue);
}

.position-icon{
    position: relative;
    top: 1px;
}